body{
    background-image: url(fundopageinicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* botao para a prox page */
.page1{
    background-color: blueviolet;
    position: absolute;
    left: 42%;
    top: 70%;
    width: 20%;
    border-radius: 12vh;
}

.Dança{
    position: absolute;
    left: 45%;
    top: 2% ;
    width: 10%;
}

.cabeçalho{
    position: absolute;
    left: 35%;
    top: 30%;
    font-size:500%;
    transition: all 3s ease-out;
    -webkit-text-stroke-width: 3%;
    background-color: blueviolet;
    border-radius: 10vh;
}

.info{
    font-size: 12%;
    border: 3% solid black;
    border-color: purple;
    display: inline-block;
    background-color: WHITE;
    border-radius:1vh;
}

.infor{
    display: inline-block;
    background-color:blueviolet;
    font-weight: bold;
    border: solid red;
    color: white;
    border-radius: 1vh;
}

.botao{
    background-color: red;
    position: absolute;
    left: 2%;
    top: 2%;
    font-weight: bold;
    font-size: 61%;
    border-radius: 12vh;
}