
/* h1 { 
    color:black;
    font-size: 50px;
    width:20%;
    margin:auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: all 3s ease-out;
} */

.Dança{
    width: 70px;
    margin: 0 auto;
}

h1{
    width: 100px;
    margin: auto;
}

h2{
    transition: all 3s ease-out;
}


h3{
    transition: all 3s ease-out;
}

body {
    background-size: cover;
    background-image:url(logo5.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p {
        color:black; 
    font-size: 12px;
    font-weight: bold;
    width: 5%;  
    transition: all 3s ease-out;
}

#alternada{
    transition: all 3s ease-out;
}


